<div class="container">
<!--
  <h1>{{checklist_name}}</h1>
    <blockquote>
      <footer>ID: {{checklist_id}}</footer>
    </blockquote>
</div>

dcc_id: '7a35c0b9-2d04-41e9-b670-e0b767247223',
       dcc_check_order: 1,
       dcc_name: 'test check',
       dcc_content: 'do check',
       dcc_comment: null,
       dcc_pass: null,
       dcc_pass_dts: null,
       user_name: null
     -->
  <div class="table-responsive">
   <table class="table">
     <thead>
       <tr>
         <th>Check name</th>
         <th>What to do</th>
         <th>Mark</th>
         <th>Comment</th>
         <th>Time/User</th>
         <th>Actions</th>
       </tr>
     </thead>
     <tbody>
       {{#each checks}}
           <tr id="tr{{this.dcc_id}}">
             <td>{{this.dcc_name}}</td>
             <td>{{this.dcc_content}}</td>
             <td id="pass{{this.dcc_id}}">{{this.dcc_pass}}</td>
             <td>{{this.dcc_comment}}</td>
             <td id="dts{{this.dcc_id}}">{{this.dcc_pass_dts}}/{{this.user_name}}</td>
             <td>
               <div class="btn-group">

                 <a href=# onclick='setcheck("{{this.dcc_id}}",true)' class="btn btn-primary">
                 Check OK
                 </a>
                 <a href=# onclick='setcheck("{{this.dcc_id}}",false)' class="btn btn-primary">
                 Check Fail
                 </a>
               </div>
             </td>
           </tr>

       {{/each}}

     </tbody>
   </table>
   </div>

</div>
