{{#with items as | items |}}
{{#each items}}
{{#cond "this.isparent !=='0'"}}
<li class="dropdown">
     <a class="dropdown-toggle {{this.icon}}" data-toggle="dropdown" href="#">&nbsp;{{this.name}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
     {{#each this}}
             {{#each this}}
                 <li><a class="{{this.icon}}" href="{{this.path}}">&nbsp;{{this.name}}</a></li>
            {{/each}}
       
    {{/each}}
</ul>

</li>
{{/cond}}
{{#cond "this.isparent==='0'"}}
<li><a class="{{this.icon}}" href="{{this.path}}">&nbsp;{{this.name}}</a></li>
{{/cond}}
{{/each}}
{{/with}}