<div class="container">

  <h1>{{view_name}}</h1>
    <blockquote>
      <footer>ID: {{view_id}}</footer>
    </blockquote>
</div>

  <div class="table-responsive">
  <table class="table">
    
  {{#each data}}
     
      {{#if @first}}
       <thead>
        {{#each this}}
          <th>{{@key}}</th>  
        {{/each}}
        </thead>
        <tbody>
      {{else}}  
       <tr>
        {{#each this}}
          {{@value}} <td>{{this}}</td>  
        {{/each}}
         </tr>
      {{/if}}
   
  {{/each}}
  </tbody>
  </table>
  </div>

</div>
